.authorInfo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:20vw;
    padding: 4vw;
}
.photoAuthor{
    width:9.5vw;
    height:25vh;
    padding:10px;
    border-radius:15%;
}
.button img{
    width:30px;
    height:20px;
}