footer{
    grid-area: ft;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    grid-gap:5px;
    background-color:#ec9c84;
    border: 1px solid;
}
.linkedin{
    background-image: url('images/linkedin.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    border-radius:25%;
}
.facebook{
    background-image: url('images/facebook.png');
    background-size: cover;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    border-radius:25%;
}
.twitter{
    background-image: url('images/twitter.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    border-radius:25%;
}
