body{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:0.5fr 5fr 0.5fr;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
    background-image:url('../images/background_1.jpg'); 
    background-repeat:no-repeat;
    background-size:cover;
}
header{
    grid-area: hd;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    border:1px solid;
    background-color: #ec9c84; 
}
.subscribe img{
    width:150px;
    height: 40px;
    padding-top: 5px;
}
nav{
    border:1px solid;
    padding:10px;
    background-color: antiquewhite;
}
h1{
  justify-content: center;
}
.search img{
    width: 50px;
    height: 50px;
}
section{
    grid-area: main;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.blogInfo{
    width:70%;
}
#blogGrid{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:30px;
    padding-left: 5vw;
}
.blogBox{
    display:flex;
    flex-direction: column;
    border:1px solid;
    padding-bottom: 20px;
    background-color: antiquewhite;
    align-items: center;
}   
p{
    text-align:justify;
    padding: 0 20px;
    margin: auto;
}

